p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.35;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 20px;
}

h1,
h2 {
  white-space: pre;
}

a:link {
  text-decoration: none;
  color: #007ea7;
}
a:visited {
  text-decoration: none;
  color: #007ea7;
}
a:hover {
  text-decoration: underline;
  color: #00a8e8;
}
a:active {
  text-decoration: none;
}

.navbar {
  height: 70px;
  width: 100%;
  background: linear-gradient(180deg, #00171f 0, #007ea7);
  position: fixed;
  top: 0;
}

.navbar > .nav-header {
  display: inline;
}

.navbar > .nav-header > .logo-link img {
  height: 68px;
  border: 1px solid transparent;
}

.navbar > .nav-header > .logo-link :hover {
  border: 1px solid #00a8e8;
  background-color: #00a8e8;
}

.navbar > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 15px 10px 10px 10px;
}

.navbar > .nav-btn {
  display: none;
}

.navbar > .nav-links {
  display: inline;
  float: right;
  font-family: 'EB Garamond', serif;
  font-size: 24px;
}

.navbar > .nav-links > .navlink {
  display: inline-block;
  padding: 25px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.navbar > .nav-links > a:hover {
  background-color: #00a8e8;
}

.navbar > #nav-check {
  display: none;
}

.main-content {
  margin-top: 70px;
  padding: 7% 10% 100px;
  font-family: 'Noto Sans Display', sans-serif;
}

.main-title {
  color: #f9fafe;
  margin: 0;
}

.home {
  /* background-color: #007ea7; */
  height: calc(100vh - 130px);
  padding-top: 100px;
  background: linear-gradient(
    90deg,
    rgba(250, 252, 252, 0.4),
    rgba(19, 16, 16, 0),
    rgba(19, 16, 16, 0),
    rgba(19, 16, 16, 0),
    rgba(219, 213, 213, 0.4)
  );
  text-align: center;
  align-items: center;
  color: #fff;
}

.home-profile-image {
  height: 200px;
  border-radius: 50%;
}

.home-headline {
  margin-bottom: 0.75rem;
  font-family: 'Noto Sans Display', sans-serif;
}

.home-subheadline {
  font-family: 'Cormorant Garamond', serif;
  margin: auto 10%;
  margin-bottom: 0.75rem;
}

.cv-icon {
  height: 75px;
  margin-top: 20px;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 60px;
  width: 100%;
  bottom: 0;
  background: linear-gradient(180deg, #007ea7, #00171f);
}

.footer > .footer-links > .footerlink {
  padding: 25px 10px 13px 10px;
}

.footerlink > svg {
  height: 39px;
  border: 1px solid transparent;
}

/* .footer > .footer-links > .footerlink :hover {
  border: 1px solid #00a8e8;
  background-color: #00a8e8;
} */

.image-container {
  display: flex;
  flex-direction: column;
  float: left;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 50px;
  background: #007ea7;
  color: #f9fafe;
  cursor: pointer;
  border-radius: 100px;
  border: none;
  box-shadow: 0 3px 5px #cdcdd0;
}

.back-to-top:hover {
  background: #00a8e8;
}

.cv-icon:hover {
  background: #00a8e8;
}

.projects,
.about,
.onthisday {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.projects-container,
.about-container,
.onthisday-container {
  border-radius: 20px;
  padding: 0 45px;
  background-color: #f9fafe;
  max-width: 1170;
  margin: 0;
}

.dueling-wizards {
  display: flex;
  flex-direction: row;
}

.wizards-image,
.grant-image,
.world-history {
  display: block;
  float: left;
  margin-right: 30px;
  border: 5px solid #f9fafe;
}

.about-image-container {
  display: block;
  float: left;
  margin-right: 30px;
  border: 5px solid #f9fafe;
}

.about-image-caption {
  font-size: 13px;
  font-family: 'EB Garamond', serif;
}

.on-this-day-subheadline {
  font-family: 'EB Garamond', serif;
}

.navbar > .nav-btn {
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 0px;
}
.navbar > .nav-btn > label {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 13px;
}
.navbar > .nav-btn > label:hover,
.navbar #nav-check:checked ~ .nav-btn > label {
  background-color: #00a8e8;
}
.navbar > .nav-btn > label > span {
  display: block;
  width: 25px;
  height: 10px;
  border-top: 2px solid #eee;
}
.navbar > .nav-links {
  position: absolute;
  display: block;
  width: 100%;
  background-color: #003459;
  height: 0px;
  transition: all 0.2s ease-in;
  overflow-y: hidden;
  top: 70px;
  left: 0px;
}
.navbar > .nav-links > a {
  display: block;
  width: 100%;
}
.navbar > .mobile-menu {
  height: calc(100vh - 70px);
  overflow-y: auto;
}

.projects-images {
  width: 100px;
}

.about-image-container {
  float: unset;
  margin: auto;
}
/* .navbar > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .navbar > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  } */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
